[submodule "src/src"]
	path = src/src
	url = https://github.com/khaledgabr77/unitree_go2_ros2
[submodule "src/unitree_go2_ros2"]
	path = src/unitree_go2_ros2
	url = https://github.com/khaledgabr77/unitree_go2_ros2
